#list{

    max-width:700px;
   margin:auto;
   top:0px;

}

#list img{
    width:100%;
    margin-bottom:20px;

}

#board_menu{
    position:fixed;
    z-index:99999999;
}

#new_board{
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    top: 40%;

}

#new_board span{
    max-width: 450px;
    position: absolute;
    margin: auto;
    left: 50%;
    transform:translateX(-50%);
}

#board-container{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


 
@media only screen and (min-width: 500px) {
    .mobile{
        display:none;
    }

}

@media only screen and (max-width: 500px) {
    .nonmobile{
        display:none;
    }

}