

#about_info{
    position: fixed;
    max-width: 500px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999;
    background-color: white;
}

#about_button{
    font-size:18px;
}

@media only screen and (max-width: 500px) {
 #about_info{
    position: fixed;
    font-size: 18px;
    z-index: 99999;
    width: 100%;
    /* max-width: 500px; */
    padding: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color:white;

    }
}