.dashboard{

    margin:10px 50px;
}


.edit-board-form{
    max-width:300px;
}

.boardForm{
    float:left;
    margin-right:20px;
   
}

.board-list-container{
    margin-left:320px;
   /* clear:both; */

}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.board-list-container li{
   /*width:250px;*/
   width:100%;
   padding-bottom:20px;

   border-bottom:1px solid;
   margin:10px;
}

#dashboard-side-bar{
/* height:100vh; */
margin-right:10px;
max-width:320px;
float:left;
}

.normal-text{
    font-size:16px;
}

.dashboard-header{
    padding-bottom:15px;
    border-bottom:1px dashed;
}

#no_moodboards{
    text-align:center;
}

#no_moodboards img{
    padding-bottom:20px;
}