body{
  background-color:#fff;
  background-size:cover;
}


fieldset{
    margin:0px;
    padding:0px;
    border:0px;
  }
  
  legend{
    display:none;
  }
  
  a, a:hover, a:visited, a:active{
  
  }

 .small-text{
   font-size:0.7em;
   opacity:0.8;
 }
  
.title{
    margin:auto;
    text-align:center;
}

  .mainTitle{
      font-size:150px;
      
  }
  button, input[type="text"] {
    padding: 5px;
    background-color:transparent;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  input[type=text],input[type=url], input[type=password], input[type=passwordConfirm],select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #333;
    border-radius: 4px;
    resize: vertical;
  }


